

 .flex_cards {
    display: flex;
    align-items: initial;
    flex-wrap: wrap;
   
}




.card{
    
    background-color: navy;
    color: aliceblue;
    width: 30%;
    height: 500px;
    display: block;
    border-radius: 10px;
    margin: 32px;
    padding: 16px;
    transition: transform 250ms;
 }

 .card:hover {
    transform: translateY(-20px);

 }


.card__imagen {
    width: 100%;
    max-height: 400px;
}

.card__tituloDeLaTarjeta {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;


}

.main {
    margin-top: 200px;
    min-height: 100vh;
}