

.GRIDPROD {
    border: 3px solid black;
    display: grid;
    grid-template-rows: 200px;
    grid-template-areas:
    "producto1 producto2 producto3";
    }
    .gridprod-hijo1 {
    display: flex;
    grid-area: producto1;
    background-color: aqua;
    /* border: 3px solid black;*/
    
    }
    .gridprod-hijo2 {
    display: flex;
    grid-area: producto2;
    background-color: blueviolet;
    
    }
    .gridprod-hijo3 {
    display: flex;
    grid-area: producto3;
    background-color: coral;
    }
    

    .productos__contenedor {
        max-width: 1200px;
        background-color: yellow;
        margin: 0% auto;
    }

    .prouctos__titulo {
        font-size: 60px;
        margin-bottom: 2rem;
        text-align: center;
    }

   .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center ;

   }

   .item1 {
    background-color: #333;
    height: 300px;
    width: 300px;
    border-radius: 2rem;
    padding: 1rem;
    position: relative;
    
   }

   .item__name {
    font-size: 18px;
    letter-spacing: 1px;
   }

   .item__image {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100px;
    height: 100px;

   }

   $degradados: (
    d1: blue,
    d2: red,
    d3: green,
    );

    @for $i from 1 through 3 {
        // .item--1, .item--2, .item--3
        .item--d#{$i} {
            background-color: map-get($degradados, d+$i); //d1, d2, d3
        }
        
    }